.App {
    text-align: center;
    font-size: 14px;
    width: 60%;
    margin: auto;
}

/* Clear button stylings */
button {
    padding: 0;
    border: none;
    font: inherit;
    color: inherit;
    background-color: transparent;
}

/* Add custom button stylings */
button {
    text-align: center;
    width: 100px;
    height: 30px;
    cursor: pointer;
}

button.green {
    background-color: rgb(3, 180, 3);
    color: white;
}

button.red {
    background-color: red;
    color: white;
}

label {
    font-weight: bold;
}

/** Main wrapper styling **/
.App div {
    box-sizing: border-box;
}

#conductor {
    margin: auto;
    margin-top: 25px;
}

/** Video styling **/
#video-streams-wrapper {
    display: flex;
    justify-content: space-between;
}

.video-wrapper {
    --width: 45%;
    display: inline-block;
    position: relative;
    margin: auto 25px;
    width: var(--width);
    height: calc(var(--width) * 0.85);
}

.video-wrapper video {
    width: 100%;
    background-color: black;
}

#video-btns {
    margin: 15px 0;
    text-align: left;
    width: 100%;
    padding: 0 25px;
}

#play-local {
    left: 0;
}

/** Call controller styling **/
#call-controller {
    margin-top: 25px;
    min-height: 25vh;
    text-align: left;
}

#peer-list {
    display: inline-block;
}

#peer-list > label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

#peer-select {
    display: inline-block;
    min-width: 200px;
    min-height: 190px;
    border: 1px solid darkgray;
    font-size: inherit;
}

#peer-select > option {
    padding: 15px 10px;
}

option:hover {
    cursor: pointer;
}

#status-wrapper {
    vertical-align: top;
    display: inline-block;
    padding: 0 25px;
    min-width: 300px;
}

#call-status {
    margin-left: 25px;
}

#call-status hr {
    margin: 5px 0;
}

#call-buttons {
    margin: 25px 0;
}

.btn-wrapper {
    margin: 0 25px;
    display: inline-block;
}
