.App {
  text-align: center;
  font-size: 14px;
  width: 80%;
  margin: auto;
}

button { 
  width: 100px;
  height: 35px;
  cursor: pointer;
}

button.green {
  background-color: rgb(3, 180, 3);
  color: white;
}

button.red {
  background-color: red;
  color: white;
}

.App div {
  box-sizing: border-box;
}

#conductor {
  /* width: 80%; */
  margin: auto;
  margin-top: 25px;
}

#conductor hr {
  margin-top: 55px;
}

.video-wrapper { 
  display: inline-block;
  position: relative;
  margin: auto 25px;
}

#play-local {
  position: absolute;
  left: 0;
  bottom: -40px;
}

.video-wrapper video {
  width: 426px;
  height : 240px;
  background-color: black;
}

#call-controller {
  margin-top: 25px;
  min-height: 25vh;
  /* border: 1px solid red; */
  text-align: left;
}

#peer-list { 
  display: inline-block;
}

#peer-list>label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

#peer-select {
  display: inline-block;
  min-width: 200px;
  border: 1px solid darkgray;
  font-size: inherit;
}

#peer-select>option {
  padding: 15px 10px;
}

option:hover { 
  cursor: pointer;
}

#call-buttons {
  margin: 15px;
  padding: 15px;
  vertical-align: top;
  display: inline-block;
  height: 300px;
}

.btn-wrapper { 
  margin: 25px;
}
